body  {
    background-color: #E8F9FD ;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
       font-weight: bolder;

   }

   
   
   /* Botón whatsapp  */
        .wp-icono .fab {
            padding: 20px;
            font-size: 30px;
            width: 30px;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
            border-radius: 50%;
        }

        .wp-icono .fab:hover {
            opacity: 0.7;
        }

        .wp-icono .fa-whatsapp {
            background: #45bbff;
            color: white;
        }

        .wp-icono .fa {
            font-size: 32px;
        }

        .wp-icono .my-float {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #fff;
            z-index: 100;
            width: 64px;
            height: 64px;
            border-radius: 50px;
            text-align: center;
            font-size: 40px;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 12px;
            /*box-shadow: 2px 2px 3px #999;*/
            color: #25d366;
            padding: 10px;
        }